.itemtitle {
  font-size: x-small;
}

.itemtitle .ititle {
  font-weight: bold;
}

.itemtitle .iheadline {
  font-style: italic;
}

.itemwriter {
  font-size: xx-small;
  font-weight: bold;
  margin-top: 10px;
}

.card-content {
  text-align: center;
}
